# 50 MHz órajelgenerátor
NET clk50M LOC=P55 | IOSTANDARD=LVCMOS33 | TNM_NET=tnm_clk50M;
TIMESPEC TS_clk50M = PERIOD tnm_clk50M 50000 kHz;

# Aktív alacsony reset gomb
NET rstn LOC=P67 | IOSTANDARD=LVCMOS33 | TIG | PULLUP;

# 3 darab aktív magas nyomógomb
NET btn_2 LOC=P61 | IOSTANDARD=LVCMOS33 | PULLDOWN;
NET btn_1 LOC=P62 | IOSTANDARD=LVCMOS33 | PULLDOWN;
NET btn_0 LOC=P66 | IOSTANDARD=LVCMOS33 | PULLDOWN;

# A CPLD interfész vonalai.
NET cpld_jtagen LOC=P82 | IOSTANDARD=LVCMOS33;
NET cpld_rstn LOC=P74 | IOSTANDARD=LVCMOS33;
NET cpld_clk LOC=P78 | IOSTANDARD=LVCMOS33;
NET cpld_load LOC=P80 | IOSTANDARD=LVCMOS33;
NET cpld_mosi LOC=P81 | IOSTANDARD=LVCMOS33;
NET cpld_miso LOC=P79 | IOSTANDARD=LVCMOS33;

#	mem_addr_x
#	0 1 2 3 4 5 6 7 8 9
#  ------------------
# |			      	| <- mem_addr_y[0]
# |				   	| <- mem_addr_y[1]
# |				  		| <- mem_addr_y[2]
# |				   	| <- mem_addr_y[3]
# |				   	| <- mem_addr_y[4]
# |				   	| <- mem_addr_y[5]
# |				   	| <- mem_addr_y[6]
# |				   	| <- mem_addr_y[7]
# |				   	| <- mem_addr_y[8]
# |				   	| <- mem_addr_y[8]
#  ------------------
NET mem_addr[0] LOC=P45 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET mem_addr[1] LOC=P46 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET mem_addr[2] LOC=P47 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET mem_addr[3] LOC=P48 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET mem_addr[4] LOC=P59 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET mem_addr[5] LOC=P58 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET mem_addr[6] LOC=P57 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET mem_addr[7] LOC=P56 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET mem_addr[8] LOC=P51 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET mem_addr[9] LOC=P50 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET mem_addr[10] LOC=P44 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET mem_addr[11] LOC=P41 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET mem_addr[12] LOC=P40 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET mem_addr[13] LOC=P39 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET mem_addr[14] LOC=P43 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET mem_addr[15] LOC=P33 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET mem_addr[16] LOC=P34 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET mem_addr[17] LOC=P60 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;

NET mem_data[0] LOC=P6 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
NET mem_data[1] LOC=P8 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
NET mem_data[2] LOC=P10 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
NET mem_data[3] LOC=P12 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
NET mem_data[4] LOC=P15 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
NET mem_data[5] LOC=P17 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
NET mem_data[6] LOC=P22 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
NET mem_data[7] LOC=P24 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
NET mem_data[8] LOC=P23 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
NET mem_data[9] LOC=P21 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
NET mem_data[10] LOC=P16 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
NET mem_data[11] LOC=P14 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
NET mem_data[12] LOC=P11 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
NET mem_data[13] LOC=P9 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
NET mem_data[14] LOC=P7 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
NET mem_data[15] LOC=P5 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;

NET mem_wen LOC=P29 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET mem_lbn LOC=P27 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET mem_ubn LOC=P26 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET sram_csn LOC=P1 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET sram_oen LOC=P2 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET sdram_csn LOC=P35 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;


# --------------------------------------------------------
# | x |aio15|aio13|aio11|aio9 |aio7 |aio5 | 3V3 |GND | x |
# --------------------------------------------------------
# | x |aio16|aio14|aio12|aio10|aio8 |aio6 |aio4 | 5V | x |
# --------------------------------------------------------
NET aio[12] LOC=P133 | IOSTANDARD=LVCMOS33; # Diff. 4N
NET aio[11] LOC=P134 | IOSTANDARD=LVCMOS33; # Diff. 4P
NET aio[10] LOC=P137 | IOSTANDARD=LVCMOS33; # Diff. 3N
NET aio[9] LOC=P138 | IOSTANDARD=LVCMOS33; # Diff. 3P
NET aio[8] LOC=P139 | IOSTANDARD=LVCMOS33; # Diff. 2N
NET aio[7] LOC=P140 | IOSTANDARD=LVCMOS33; # Diff. 2P
NET aio[6] LOC=P141 | IOSTANDARD=LVCMOS33; # Diff. 1N
NET aio[5] LOC=P142 | IOSTANDARD=LVCMOS33; # Diff. 1P
NET aio[4] LOC=P143 | IOSTANDARD=LVCMOS33; 
